html{
    font-family: sans-serif;
    box-sizing: border-box;
}
*{
    box-sizing: inherit;
}
body{
    padding: 0;
    margin: 0;
    font-weight: 16px;
    color: #191d8b;
    height: 100vh;
}
a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 22px;
}
.dark{
    background-color: black;
    color: white;
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #ffff;
    background-color: #1c1f8e;
    padding: 20px;
}
.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffff;
    background-color: #1c1f8e;
    padding: 50px;
}
input{
    color: #191d8b;
    font-weight: bold;
    font-size: 22px;
    width: 150px;
    height: 50px;
    border: 2px solid #191d8b;
    border-radius: 10px;
    transition: all 0.3s;
}
input::placeholder{
    color: rgb(93, 93, 93);
    font-size: 16px;
    padding: 10px;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input:focus{
    outline: none;
    border: 2px solid #191d8b;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    transition: all 0.3s;
}
.inner__container{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.content{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
i{
    font-size: 24px;
}
.buttons{
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
}
.active{
    border: 2px solid red;
}
button{
    color:#191d8b;
    cursor: pointer;
    width: 75px;
    height:50px;
    border-radius: 10px;
    border: 2px solid #191d8b;
    font-size: 16px;
    font-weight: bold;
    background-color: white;
    transition: all 0.3s;
}
.darkmode__button{
    width: 80px;
    height: 30px;
    border-radius: 5px;
    font-size: 12px;
}
.result-list{
    height: 100px;
    width: 50px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
}
.blue-bold{
    font-weight: bold;
    font-size: 24px;
    color:#191d8b;
}
.first-block,.second-block{
    display: flex;
    flex-direction: column;
}
.weight__type{
    display: flex;
    gap: 20px;
}
.variant{
    height: 20px;
    width:20px;
}
@media (max-width: 800px){
    h1{
        font-size: 18px;
    }
}
@media (max-width: 450px){
    h1{
        display: none;
    }
    .header{
        justify-content: space-around;
    }
}